
{% extends 'generic.html' %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

<!-- Left Column -->
{% block leftColumn %}
<div class="row justify-content-center">
    <i class="wi wi-day-sunny pt-4 pb-4" style="font-size: 5rem;"></i>
</div>
<div class="row">
    <div class="col">
        Air Temp: 
        {{ sensor_data.air_temp }}
        °F
    </div>
    <div class="col">
        Water Temp: 
        {{ sensor_data.water_temp }}
        °F
    </div>
</div>
<div class="row justify-content-center">
    Time
</div>
<div class="row">
    <div class="col">
        Pump Status:
    </div>
    <div class="col">
        toggle
    </div>
</div>
<div class="row">
    <div class="col">
        Heater Status:
    </div>
    <div class="col">
        toggle
    </div>
</div>
{% endblock %}

<!-- Right Column -->
{% block rightColumn %}
<div class="row pt-4">
    <a type="button" class="btn btn-outline-light btn-lg container mx-4" href="/schedule">Schedule</a>
</div>
<div class="row pt-4">
    <a type="button" class="btn btn-outline-light btn-lg container mx-4" href="/thermostat">Thermostat</a>
</div>
<div class="row pt-4">
    <a type="button" class="btn btn-outline-light btn-lg container mx-4" href="/water_info">Water Info</a>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        $('#home-tab').addClass('active bg-dark');
    });
</script>
{% endblock %}