
{% extends 'generic.html' %}

<!-- Left Column -->
{% block leftColumn %}
<div class="col text-light">
    <div class="row justify-content-center">
        <i class="wi wi-day-sunny pt-4 pb-4" style="font-size: 5rem;"></i>
    </div>
    <div class="row">
        <div class="col">
            Air temp
        </div>
        <div class="col">
            Water temp
        </div>
    </div>
    <div class="row justify-content-center">
        Time
    </div>
    <div class="row">
        <div class="col">
            Pump Status:
        </div>
        <div class="col">
            toggle
        </div>
    </div>
    <div class="row">
        <div class="col">
            Heater Status:
        </div>
        <div class="col">
            toggle
        </div>
    </div>
</div>
{% endblock %}

<!-- Right Column -->
{% block rightColumn %}
<div class="col text-light">
    <div class="row pt-4">
        <button type="button" class="btn btn-outline-light btn-lg container mx-4">Schedule</button>
    </div>
    <div class="row pt-4">
        <button type="button" class="btn btn-outline-light btn-lg container mx-4">Thermostat</button>
    </div>
    <div class="row pt-4">
        <button type="button" class="btn btn-outline-light btn-lg container mx-4">Water Info</button>
    </div>
</div>
{% endblock %}