<!-- Right Column -->
<div class="col">
    <div class="row pt-4">
        <a type="button" class="btn btn-primary btn-lg container mx-4" href="/home">Home</a>
    </div>
    <div class="row pt-4">
        <a type="button" class="btn btn-primary btn-lg container mx-4" href="/schedule">Schedule</a>
    </div>
    <div class="row pt-4">
        <a type="button" class="btn btn-primary btn-lg container mx-4" href="/thermostat">Thermostat</a>
    </div>
    <div class="row pt-4">
        <a type="button" class="btn btn-primary btn-lg container mx-4" href="/water_info">Water Info</a>
    </div>
</div>