<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link text-white" id="home" href="/home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" id="schedule" href="/schedule">Schedule</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" id="thermostat" href="/thermostat">Thermostat</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" id="water_info" href="/water_info">Water Info</a>
    </li>
</ul>
