<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link text-white" id="home-tab" href="/home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" id="schedule-tab" href="/schedule">Schedule</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" id="thermostat-tab" href="/thermostat">Thermostat</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" id="water_info-tab" href="/water_info">Water Info</a>
    </li>
</ul>