{% extends 'generic.html' %}

{% block navbar %}
{%include 'navbar.html' %}
{% endblock %}

<!-- Left Column -->
{% block leftColumn %}
<br>
<div class="row">
    <div class="col">
        Water Temp: 
    </div>
    <div class="col">
        {{ water_data.water_temp }}
        °F
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        Water pH: 
    </div>
    <div class="col">
        {{ water_data.water_pH }}
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        Water Sanitizer: 
    </div>
    <div class="col">
        {{ water_data.water_sanitizer }}
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
        $('#water_info-tab').addClass('active bg-dark');
    });
</script>
{% endblock %}
